.icon img {
    width: 300px;
    height: 300px;
    transition: all 0.3s ease;
    filter: brightness(70%);
}

#icon:hover img {
    filter: brightness(100%);
    transform: scale(1.1);
    box-shadow: 0 8px 16px #00000099;
}
.myriadBody {
	background-color: #00ff00;
	background-image: linear-gradient(to right top, #0b0040, #200a5a, #391075, #551490, #7316aa, #7d0c9d, #840390, #890084, #6d0358, #4d0b35, #2b0d1b, #000000);
}
