body {
    background-color: #00ff00;
    height: 100vw;
    width: 100vw;
}
.icon img {
    width: 300px;
    height: 300px;
    transition: all 0.3s ease;
    filter: brightness(70%);
}
#icon:hover img {
    filter: brightness(100%);
    transform: scale(1.1);
    box-shadow: 0 8px 16px #00000099;
}
