body {
    background-image: linear-gradient(to right top, #0b0040, #200a5a, #391075, #551490, #7316aa, #7d0c9d, #840390, #890084, #6d0358, #4d0b35, #2b0d1b, #000000);
    height: 100vw;
}
.heading {
	font-family: "macula-solid", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 3vw;
	text-align: center;
	color: #fff;
}
.box {
	font-size: 2vw;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
#box {
	width: 3vw;
}
.icon img {
    width: 300px;
    height: 300px;
    transition: all 0.3s ease;
    filter: brightness(70%);
}
#icon:hover img {
    filter: brightness(100%);
    transform: scale(1.1);
    box-shadow: 0 0 50px #00000099;
}
